GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
YOUR_UNIVERSITY="Manipal Institute of Technology"
YOUR_DISCIPLINE="Data Science Engineering"
CURRENT_YEAR=2025
GRAD_YEAR=2027
HUGGINGFACE_API_KEY=
